@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
@font-face {
  font-family: gilroyR;
  src: url(/font/gilroy/Gilroy-Regular.woff);
}
@font-face {
  font-family: gilroySemi;
  src: url(/font/gilroy/Gilroy-Semibold.woff);
}
@font-face {
  font-family: gilroyMedium;
  src: url(/font/gilroy/Gilroy-Medium.woff);
}
@font-face {
  font-family: gilroyBold;
  src: url(/font/gilroy/Gilroy-Bold.woff);
}
:root {
  --cta: black;
  --fondlow: gray;
  --background: #1d1b27;
  --jakatar: "Plus Jakarta Sans";
  --gilroy: "Gilroy";
}

* {
  outline: none;
  scroll-behavior: smooth;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

*::-moz-selection {
  background: var(--text);
  color: var(--fond);
}

*::selection {
  background: var(--text);
  color: var(--fond);
}

/*** scroollbar ***/
*::-webkit-scrollbar {
  width: 0px;
  background: rgba(0, 0, 0, 0) 0% 0% no-repeat padding-box;
}

*::-webkit-scrollbar-button {
  background: rbga(0, 0, 0, 0);
}

*::-webkit-scrollbar-track-piece {
  width: 0px;
}

*::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgb(0, 0, 0);
  box-shadow: inset 0 0 6px rgb(0, 0, 0);
  border: none;
  width: 0px;
  background-color: rgba(0, 0, 0, 0);
}

html {
  width: 100vw;
  height: 100vh;
}
@media all and (max-width: 1000px) {
  html {
    height: auto;
  }
}

body {
  margin: 0 auto;
  width: 100vw;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: var(--gilroy);
  font-weight: 400;
  font-size: 14px;
  background: var(--background);
  color: white;
  overflow-x: hidden !important;
  position: relative;
}
@media all and (max-width: 1000px) {
  body {
    height: auto;
  }
}

.struct {
  width: 80%;
}
@media all and (max-width: 1000px) {
  .struct {
    width: 90%;
  }
}
.struct p {
  opacity: 0.6;
  font-size: 1em;
  text-align: justify;
}
.struct .inner_container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media all and (max-width: 1000px) {
  .struct .inner_container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 5em;
  }
}
.struct .inner_container .left {
  width: 50%;
}
@media all and (max-width: 1000px) {
  .struct .inner_container .left {
    width: 100%;
  }
}
.struct .inner_container .left .logo {
  width: 5vw;
  height: auto;
}
@media all and (max-width: 1000px) {
  .struct .inner_container .left .logo {
    width: 10vw;
    display: grid;
    place-items: center;
    width: 100%;
    margin-top: 1vh;
    margin-bottom: 2vh;
  }
}
.struct .inner_container .left .logo img {
  width: 100%;
}
@media all and (max-width: 1000px) {
  .struct .inner_container .left .logo img {
    width: 30%;
  }
}
.struct .inner_container .left h1 {
  font-size: 3.8vw;
  margin: 0;
  margin-top: 0.2em;
  font-family: var(--jakatar);
}
@media all and (max-width: 1000px) {
  .struct .inner_container .left h1 {
    font-size: 15vw;
    line-height: 1em;
  }
}
@media all and (max-width: 700px) {
  .struct .inner_container .left h1 {
    text-align: center;
  }
}
.struct .inner_container .left p {
  font-size: 1.3vw;
  width: 37.5vw;
  margin-top: 0.5em;
}
@media all and (max-width: 1000px) {
  .struct .inner_container .left p {
    font-size: 1.3em;
    width: 95%;
  }
}
@media all and (max-width: 700px) {
  .struct .inner_container .left p {
    font-size: 1.2em;
    word-spacing: normal;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
    width: auto;
  }
}
.struct .inner_container .left .btn_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  width: 100%;
  gap: 1em;
  margin-top: 2em;
}
@media all and (max-width: 1500px) {
  .struct .inner_container .left .btn_container {
    font-size: 0.8em;
  }
}
@media all and (max-width: 1260px) {
  .struct .inner_container .left .btn_container {
    font-size: 0.7em;
  }
}
@media all and (max-width: 700px) {
  .struct .inner_container .left .btn_container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.struct .inner_container .left .btn_container .btn_item {
  border-radius: 0.54413em;
  font-family: var(--gilroy);
  font-weight: 400;
  -webkit-box-shadow: 0px 6.96471px 13.92941px 0px rgba(70, 47, 207, 0.26);
          box-shadow: 0px 6.96471px 13.92941px 0px rgba(70, 47, 207, 0.26);
  font-size: 1.3em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: auto;
  height: 60px;
  padding: 0.54413em;
  padding-left: 1.54413em;
  padding-right: 1.54413em;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.54413em;
  border: none;
  cursor: pointer;
}
@media all and (max-width: 700px) {
  .struct .inner_container .left .btn_container .btn_item {
    height: 3.7em;
    width: 100%;
    font-size: 1.7em;
  }
}
.struct .inner_container .left .btn_container .btn1 {
  color: white;
  background: linear-gradient(266deg, #8250ed 4.25%, #452ece 94.86%);
}
.struct .inner_container .left .btn_container .btn2 {
  background: #fff;
  color: #363636;
}
.struct .inner_container .left .counter_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  gap: 1em;
  width: 100%;
  margin-top: 3em;
}
@media all and (max-width: 1500px) {
  .struct .inner_container .left .counter_container {
    font-size: 0.7em;
  }
}
@media all and (max-width: 1000px) {
  .struct .inner_container .left .counter_container {
    font-size: 1.7vw;
  }
}
@media all and (max-width: 700px) {
  .struct .inner_container .left .counter_container {
    font-size: 3.5vw;
    gap: 0em;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
.struct .inner_container .left .counter_container .counter {
  width: 18%;
  height: 6em;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border-radius: 0.74256em;
  background: rgba(255, 255, 255, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media all and (max-width: 700px) {
  .struct .inner_container .left .counter_container .counter {
    width: 24%;
  }
}
.struct .inner_container .left .counter_container .counter .value {
  color: #fff;
  text-align: center;
  font-family: var(--gilroy);
  font-weight: bold;
  font-size: 2em;
  font-style: normal;
  letter-spacing: -0.01719rem;
}
.struct .inner_container .left .counter_container .counter .label {
  color: #fff;
  text-align: center;
  font-family: var(--gilroy);
  font-weight: 500;
  font-size: 1.1em;
  font-style: normal;
  opacity: 0.8;
  letter-spacing: -0.01719rem;
}
@media all and (max-width: 700px) {
  .struct .inner_container .left .counter_container .counter .label {
    font-size: 0.8em;
  }
}
.struct .inner_container .right {
  width: 50%;
  position: relative;
  display: grid;
  place-items: center;
}
@media all and (max-width: 1000px) {
  .struct .inner_container .right {
    width: 100%;
    margin-top: 8em;
  }
}
@media all and (max-width: 700px) {
  .struct .inner_container .right {
    margin-top: 1em;
  }
}
.struct .inner_container .right .imagedesk {
  width: 35vw;
}
@media all and (max-width: 1000px) {
  .struct .inner_container .right .imagedesk {
    width: 50%;
  }
}
@media all and (max-width: 700px) {
  .struct .inner_container .right .imagedesk {
    width: 80%;
    margin-top: 70px;
  }
}
.struct .inner_container .right .light {
  position: absolute;
  left: 0;
  top: 50%;
  height: auto;
  -webkit-transform: translateY(-50%) translateX(-35%) scale(1);
          transform: translateY(-50%) translateX(-35%) scale(1);
}
@media all and (max-width: 1000px) {
  .struct .inner_container .right .light {
    width: 50vw;
  }
}
@media all and (max-width: 700px) {
  .struct .inner_container .right .light {
    -webkit-transform: translateY(-50%) translateX(-10%) scale(1);
            transform: translateY(-50%) translateX(-10%) scale(1);
    width: 45vw;
  }
}

.container {
  width: 100%;
  height: 70%;
  padding-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-top: 1vh;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
  overflow-x: scroll;
  -ms-scroll-snap-type: x mandatory;
      scroll-snap-type: x mandatory;
}
@media all and (max-width: 1000px) {
  .container {
    -webkit-column-gap: 0;
       -moz-column-gap: 0;
            column-gap: 0;
    gap: 2vw;
    /* height: 90%; */
  }
}

footer {
  position: absolute;
  bottom: 0;
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top: 1px solid rgba(255, 255, 255, 0.14);
  padding-top: 15px;
  padding-bottom: 15px;
}
@media all and (max-width: 1000px) {
  footer {
    width: 90%;
    position: relative;
    margin-top: 5em;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}
footer .left {
  color: white;
  font-family: var(--jakatar);
  font-size: 1em;
}
@media all and (max-width: 1000px) {
  footer .left {
    width: 100%;
    margin-top: 1em;
    padding-bottom: 1em;
    line-height: 1.5em;
    text-align: center;
  }
}
footer .left a {
  color: #8250ed;
  text-decoration: none;
}
footer .social_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.5em;
}
footer .social_container .social {
  width: 2.78269rem;
  height: 2.78269rem;
  border-radius: 50%;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  display: grid;
  place-items: center;
  background: rgba(255, 255, 255, 0.1);
  cursor: pointer;
}
footer .social_container .social img {
  width: 1.7em;
}
footer .social_container .social:hover {
  opacity: 0.8;
}

.lamp {
  position: absolute;
  top: 10vh;
  right: 0;
  width: 20vw;
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
  z-index: 5;
}
@media all and (max-width: 1000px) {
  .lamp {
    width: 30vw;
    bottom: 40vh;
    top: auto;
  }
}
@media screen and (max-width: 1000px) and (max-height: 858px) {
  .lamp {
    bottom: 45vh;
  }
}
@media screen and (max-width: 1000px) and (max-height: 750px) {
  .lamp {
    bottom: 60vh;
  }
}
@media screen and (max-width: 1000px) and (max-height: 560px) {
  .lamp {
    bottom: 75vh;
  }
}
@media all and (max-width: 700px) {
  .lamp {
    margin-top: 1em;
    width: 45vw;
  }
}

.bigcircle {
  position: absolute;
  top: 50%;
  left: 0px;
  width: 25vw;
  -webkit-transform: translateX(-18%) translateY(-42%) rotate(8deg);
          transform: translateX(-18%) translateY(-42%) rotate(8deg);
}
@media all and (max-width: 1000px) {
  .bigcircle {
    display: none;
  }
}